/* GLOBAL */
.cv-journey {
	font-family: "Inter", sans-serif;
	color: #fff;
	background: #000;
}

/* HERO */
.cv-hero {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.japan-title {
	color: rgba(255, 255, 255, 0.6);
	mix-blend-mode: soft-light;
}

.cv-image {
	position: absolute;
	inset: 0;
	background-image: url("/opera.png");
	background-size: cover;
	background-position: center;
	z-index: 2; /* DEVANT LE TEXTE */
	background-color: red;
}

.cv-overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.15),
		rgba(0, 0, 0, 0.15)
	);
	z-index: 3;
}

.cv-hero-fade {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.7));
	z-index: 4;
	pointer-events: none;
}

.cv-hero-content {
	position: relative;
	z-index: 2;
	padding: 3rem;
	max-width: 1100px;
	margin: 0 auto;
}

.cv-back {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	display: inline-block;
	margin-bottom: 3rem;
	opacity: 0.8;
}

/*ABOUT TITLE */
.about-section {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 6rem 2rem;
	background: black;
}

.about-title {
	font-size: 1.8rem;
	letter-spacing: 0.2em;
	white-space: nowrap;
}

.about-line {
	flex: 1;
	max-width: 200px;
	height: 1px;
	background: rgba(255, 255, 255, 0.4);
}

/* DOCUMENT */
.cv-document {
	background: #000;
	padding: 5rem 2rem;
	text-align: center;
}

.cv-frame {
	max-width: 900px;
	margin: 0 auto 2rem;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
}

.cv-frame iframe {
	width: 100%;
	height: 125vh;
	border: none;
	background: white;
}

.cv-download {
	display: inline-block;
	margin-top: 1rem;
	color: black;
	background: #f5d58d;
	padding: 0.8rem 2rem;
	border-radius: 999px;
	text-decoration: none;
	font-weight: 600;
}

/* BOTTOM IMAGE */
.japan-bottom {
	position: relative;
	height: 70vh;
	background-image: url("/canyon.png"); /* image fond bas */
	background-size: cover;
	background-position: center;
}

.japan-bottom-overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
}
