.map-container {
	/* carte du monde en image de fond*/
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("/public/carteMonde.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header-overlay {
	/* positionnement du titre et le sous titre*/
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: white; /* à ajuster selon ta carte */
	z-index: 10;
}

.title {
	/*le titre ODYSSEY*/
	font-size: 3rem;
	font-weight: bold;
	margin: 0;
	color: black;
}

.subtitle {
	/*le sous titre Mon voyage dans le développement web*/
	font-size: 1.5rem;
	margin-top: 0.5rem;
	color: black;
}
