.skill-card {
	width: 260px;
	height: 320px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	border-radius: 20px;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
	color: black;
	text-align: center;

	transition: transform 0.4s ease;
}

.skill-card:hover {
	transform: scale(1.05);
}

.skill-icon {
	font-size: 3rem;
}
